* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-logo {
  height: 60px;
  pointer-events: none;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General webpage */
.page {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

/* Regions to the left and right of .content */
.sidebar {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
}

.content {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 60%;
  max-width: 1080px;
}

.auth-widget {
  padding-top: 20px;
  font-size: 16px;
}

.auth-widget a {
  color: white;
}

.centered {
  padding-top: 10px;
}

.auth-widget > a, .centered {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 16px;
  color: white;
}
